@charset "UTF-8";

/* COMMON */
html {
    font-size: 62.5%;
    font-family: '나눔고딕', 'Nanumgothic', sans-serif;
}
body {
    background-color: #e4e5e7;
    font-size: 16px; font-size: 1.6rem;
    font-weight: 400;
    color: #333;
}
a {
    font-size: 1.6rem;
    font-weight: 400;
    color: #333;
}
h1 {
    font-size: 6.5rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -2.8px;
    text-align: center;
}
h2 {
    width: 20rem;
    height: 4.4rem;
    line-height: 4.4rem;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 700;
    color: #0174bf;
    border: 1px solid #0174bf;
    border-radius: 2.5rem;
    margin: 0 auto 3.2rem auto;
}
h3 {
    font-size: 2.8rem;
    color: #333;
    font-weight: 400;
    text-align: left;
}
p.lead {
    font-size: 1.8rem;
    color: #222;
    line-height: 1.5;
}
.title-group {
    text-align: center;
    margin-bottom: 6rem;
    color: #222;
}
.table {display: table; width: 100%}
.none {display: none}
.vhidden { visibility: hidden;}
.float-none {float: none}
.relative {position: relative; height: 1rem; margin: 3rem 0 1.5rem 0;}
.relative1 {position: relative;}
.center {margin: 0 auto}
.block {display: inline-block;}
.bottom {vertical-align: bottom; display: block;}
.row {position: relative;}
.row::after, .form-group::after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}

.height39 {height: 3.9rem}
.height40 {height: 4.0rem}
.height80 {height: 8rem;}
.height100 {height: 10rem;}
.height110 {height: 11rem;}
.height125 {height: 12.5rem;}
.height200 {height: 25.0rem;}
.height80 img {height: 8rem; display: inline-block}
.l-height80 {line-height: 8rem}
.l-height100 {line-height: 10rem;}


.inner-left { float: left !important}
.inner-right { float: right !important}

.font14 {font-size: 1.4rem;}
.font17 {font-size: 1.7rem}
.font20 {font-size: 2.0rem}
.font40 {font-size: 4.0rem !important;}

.small-span {font-size: 1.3rem; line-height: 4rem;}

.bold {font-weight: 700 !important; color: #555 !important;}
.text-center {text-align: center !important;}
.text-right {text-align: right !important;}
.text-left {text-align: left !important;}
.text-primary {color: #0174bf !important}
.text-success {color: #0174bf !important; font-weight: 400 !important;}
.text-green {color: #1b9200 !important; font-weight: 400 !important;}
.text-red {color: #d24703 !important; font-weight: 400 !important;}
.text-brown {color: #d24703 !important;}
.text-mute {font-size: 1.7rem; color: #333 !important;}

.bg-gray {background-color: #e4e5e7 !important;}
.bg-dark-grey {background-color: #b1b2b8 !important;}
.bg-silver {background-color: #c4c6cd !important;}
.bg-red {background-color: #d24703 !important;}
.bg-white {background-color: #fff !important;}
.bg-orange {background-color: #f8b05b !important;}
.bg-dark-blue {background-color: #06457a !important;}
.bg-sky {background-color: #f7fbfd !important;}
.bg-primary {background-color: #0174bf;}
.bg-primary > th {color: #fff !important; font-weight: 700 !important; font-size: 1.5rem !important;}

.hr1 {border: 1px solid #f0f2f7; margin-top: 3.5rem; margin-bottom: 3.0rem}

.col-1 {float: left; width: 10% !important}
.col-2 {float: left; width: 20% !important}
.col-3 {float: left; width: 25% !important}
.col-4 {float: left; width: 30% !important}
.col-40 {float: left; width: 40% !important}
.col-45 {float: left; width: 45% !important}
.col-48 {float: left; width: 48% !important}
.col-49 {float: left; width: 49% !important}
.col-6 {float: left; width: 50% !important}
.col-7 {float: left; width: 70% !important}
.col-8 {float: left; width: 70% !important}
.col-9 {float: left; width: 75% !important}
.col-12 {float: left; width: 100% !important}

.width10 {float: left; width: 10% !important;}
.width20 {float: left; width: 20% !important;}
.width29 {float: left; width: 29% !important;}
.width30 {float: left; width: 30% !important;}
.width33 {float: left; width: 33% !important;}
.width35 {float: left; width: 35% !important;}
.width38 {float: left; width: 38% !important;}
.width40 {float: left; width: 40% !important;}
.width49 {float: left; width: 49.5% !important;}
.width50 {float: left; width: 50% !important;}
.width60 {float: left; width: 59% !important;}
.width65 {float: left; width: 65% !important;}
.width68 {float: left; width: 67% !important;}
.width70 {float: left; width: 69% !important;}
.width99 {float: left; width: 98% !important; box-sizing: border-box}
.width270 {float: left; width: 27rem !important;}
.width300 {float: left; width: 30rem !important;}
.width320 {float: left; width: 32rem !important;}
.width350 {float: left; width: 35rem !important;}

.width580 {width: 58rem !important; margin: 0 auto;}

.height50 {height: 4.9rem !important;}
.height150 {height: 15rem;}
.height150 > p {line-height: 15rem; font-size: 1.7rem}
.height27 {height: 27rem;}
.l-height4 {line-height: 4rem !important;}
.l-height4 > input { width: 5%}
.l-height47 {line-height: 4.7rem !important;}
.height166 {height: 16.6rem !important;}
.height95 {height: 9.5rem !important;}
.height65 {height: 6.5rem !important;}

.pd0 {padding: 0 !important}
.pt0 {padding-top: 0 !important;}
.pb0 {padding-bottom: 0 !important;}
.pd8 {padding: 0.8rem !important;}
.pb4 {padding-bottom: 4rem}
.pd5 {padding: 0.5rem;}
.pd12 {padding: 0 1.2rem;}
.ptb4 {padding: 4rem 0}
.pd-r {padding-right: 1rem; box-sizing: border-box}
.pd-l {padding-left: 1rem; box-sizing: border-box}
.pd10 {padding: 1rem; box-sizing: border-box}
.pd11 {padding: 1.1rem; box-sizing: border-box}

.mb-20 {margin-bottom: 2rem}

.m0 {margin: 0 !important;}
.m40 {margin: 4rem 0;}
.ml4 {margin-left: 4%;}
.ml5 {margin-left: 1rem}
.ml20 {margin-left: 2rem}
.ml30 {margin-left: 3rem}
.ml85 {margin-left: 8.55rem}
.mr-1 {margin-right: 1%;}
.mr-2 {margin-right: 2%;}
.mr10 {margin-right: 1rem !important;}
.mr50 {margin-right: 5rem}
.mb10 {margin-bottom: 1rem}
.mb20 {margin-bottom: 2rem}
.mb30 {margin-bottom: 3rem}
.mb40 {margin-bottom: 4rem}
.mb50 {margin-bottom: 5rem}
.mt10 {margin-top: 1rem !important;}
.mt60 {margin-top: 6rem !important;}
.mt50 {margin-top: 5rem !important;}
.mt30 {margin-top: 3rem !important;}
.mt20 {margin-top: 2rem !important;}
.mt110 {margin-top: 11rem}

.border-none {border: none !important;}
.border-radius-0 {border-radius: 0 !important;}
.border-radius-5 {border-radius: 5px !important;}
.border-radius-left {border-radius: 0 5px 5px 0 !important;}
.border-radius-right {border-radius: 5px 0 0 5px !important;}
.border-left {border-left: 1px solid #e4e5e7}
.border-r {border-right: 1px solid #f0f2f7}
.border-top {border-top: 1px solid #e4e5e7}

/*button*/
.btn-more a {float: right; font-size: 1.4rem; color: #0174bf; margin-bottom: 1rem}
.btn {width: 20rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    color: #fefeff;
    border: none;
    background-color: #0174bf;
    border-radius: 2.5rem;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}
.three-btn {text-align: center;}

.btn.caption {
    width: 13rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    color: #fefeff;
    border: none;
    background-color: #0174bf;
    border-radius: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    z-index: 999;
}

.btn-left {float: left}
.btn-right {float: right}
.btn-left > button, .btn-right > button {border-radius: 5px; color: #fff; padding:1rem 2rem;  font-size: 1.3rem; font-weight: 700; border: none; margin-right: 1rem}
.btn-right > button, .btn-right > button:last-child {margin-right: 0}
.btn-left > button:nth-child(2) {background-color: #f9b15b !important;}
.btn-left > button:nth-child(3) {background-color: #c4c6cd !important;}
.btn-left > button:nth-child(4), .btn-right > button {background-color: #0174bf;}

.btn.btn-c {
    width: 90%;
    vertical-align: middle;
}

.three-btn > .btn {display: inline-block;}

/*input*/
.form-group {
    padding: 1.5rem 0;
    border-bottom: 1px solid #e4e5e7;
}
.input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #bbb;
    outline: none;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    position: relative;
}
.input:focus {
    border-color: #51a7e8 !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
}
.input::-webkit-input-placeholder { color: #999; }
.input:-ms-input-placeholder { color: #999; }
.input::-moz-placeholder { color: #999; }

select {color: #999; vertical-align: middle; height: 4.0rem;}
select.input {padding: 0.5rem}

label {width: 100%; line-height: 4rem; font-size: 1.7rem; vertical-align: middle; margin-right: 0.8rem;}
label:last-child {margin-right: 0}
textarea {
    width: 100%;
    height: 16rem;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #bbb;
    outline: none;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    position: relative;
}
textarea:focus {
    border-color: #51a7e8 !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
}
textarea::-webkit-input-placeholder { color: #999; }
textarea:-ms-input-placeholder { color: #999; }
textarea::-moz-placeholder { color: #999; }

.icon-search {
    position: absolute;
    top: 30%;
    right: 2%;
    cursor: pointer;
}
.icon-calendar-0 {
    position: absolute;
    top: 23%;
    right: 2%;
}
.icon-calendar-1 {
    position: absolute;
    top: 20%;
    right: 38%;
}
.icon-calendar-2 {
    position: absolute;
    top: 20%;
    right: 3%;
}
.icon-calendar-3 {
    position: absolute;
    top: 20%;
    right: 8%;
}
.icon-calendar-4 {
    position: absolute;
    top: 30%;
    right: 10%;
}
.icon-calendar-5 {
    position: absolute;
    top: 30%;
    right: 12%;
}

/*tap*/
.main-tab {padding-top: 9rem;}
ul.tabs {
    margin: 0 auto;
    list-style: none;
    width: 36.3rem;
    font-size: 2.0rem;
    text-align: center;
    font-weight: 700;
    position: relative;
}
ul.tabs-c {
    margin-left: 20%;
    margin-bottom: 5rem;
}
ul.tabs-faq {
    margin-left: 13%;
    margin-bottom: 5rem;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:20rem;
    height: 4.4rem;
    line-height: 4.4rem;
    border: 1px solid #bbb;
    border-radius: 2.5rem 0 0 2.5rem;
    border-right: none;
    color: #999;
    vertical-align: middle;
    background: #e4e5e7;
    overflow: hidden;
}
ul.tabs li:last-child {
    border-radius: 0 2.5rem 2.5rem 0;
    border-right: 1px solid #bbb;
}
ul.tabs li img {max-width: 100%;}
ul.tabs li:first-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
ul.tabs li:nth-child(2) {
    position: absolute;
    top: 0;
    left: 16.3rem;
    z-index: 4;
}
ul.tabs li:nth-child(3) {
    position: absolute;
    top: 0;
    left: 32.6rem;
    z-index: 3;
}
ul.tabs li:nth-child(4) {
    position: absolute;
    top: 0;
    left: 48.9rem;
    z-index: 2;
}
ul.tabs li:nth-child(5) {
    position: absolute;
    top: 0;
    left: 65.2rem;
    z-index: 1;
}
ul.tabs li.active {
    border: 1px solid #0174bf;
    color: #0174bf !important;
    z-index: 5;
    border-radius: 2.5rem;
}
ul.tabs1 li {
    padding: 1rem 2rem;
    margin-right: 1rem !important;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    color: #666;
    border: none;
    background-color: #c4c6cd;
    border-radius: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}
ul.tabs1 li.active {
    background: #0174bf;
    color: #fff !important;
    font-weight: 700;
    z-index: 5;
}
ul.tabs1 li:last-child {
    margin-right: 0;
}
.tab_container {
    border: none;
    float: left;
    width: 100%;
}
.tab_content {
    display: none;
    margin-top: 5rem;
}
.tab_content .img-tab{
    cursor: pointer;
}
.tab_container .tab_content > ul {
    width:100%;
    margin:0;
    padding-top: 6rem;
}
.tab_container .tab_content ul > li {
    float: left;
    /*margin-right: 2.7rem;*/
    list-style:none;
}
.tab_container .tab_content ul > li:last-child {margin-right: 0;}

/*jumbotron*/
.jumbotron {
    width: 100%;
    background-color: #0174bf;
    color: #fff;
    text-align: center;
    padding: 6rem 0
}
.jumbotron > h1 {
    font-family: '나눔스퀘어', 'NanumSquare', sans-serif;
    font-size: 4.7rem;
    font-weight: 300;
}
.jumbotron > h2 {
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: #fff;
}
.jumbotron > p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}
.jumbotron > .width580 > p {
    font-weight: 400;
    line-height: 1.5;
}
.jumbotron > a > .btn {
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    border: none;
    background-color: #f9b15b;
    border-radius: 2.5rem;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    display: inline-block;
}
/*page-bar*/
.page-bar {
    border-top: 1px solid #e4e5e7;
    background-color: #fff;
}
.page-bar .page-breadcrumb {
    width: 117rem;
    margin: 0 auto;
}
.page-bar ul li {
    float: left;
    padding: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    border-right: 1px solid #e4e5e7;
    color: #666;
}
.page-bar ul li.icon-home {
    padding: 1.9rem;
    box-sizing: border-box;
}
.page-bar ul li:first-child {
    border-left: 1px solid #e4e5e7;
}
.page-bar ul li.active {
    color: #0174bf;
}

/*pagination*/
.pagination {display: inline-block;}
/*.pagination a {*/
    /*color: black;*/
    /*float: left;*/
    /*padding: 8px 16px;*/
    /*text-decoration: none;*/
/*}*/
/*.pagination a:first-child, .pagination a:nth-child(2), .pagination a:nth-child(8), .pagination a:last-child {*/
    /*padding: 0;*/
/*}*/
/*.pagination a:nth-child(2) {*/
    /*margin-right: 16px;*/
/*}*/

/*.pagination a:nth-child(8) {*/
    /*margin-left: 16px;*/
/*}*/

/*.pagination a.active {*/
    /*color: #0174bf;*/
/*}*/

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pagination > li > a,
.pagination > li > span {
    color: #636e7b;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #e4e7ea;
}
.pagination-split li {
    margin-left: 5px;
    display: inline-block;
    float: left;
    padding: 0 !important;
}
.pagination-split li:first-child {
    margin-left: 0;
}
.pagination-split li a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #71b6f9;
    border-color: #71b6f9;
    color: #fff;
}
.pager li > a,
.pager li > span {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #636e7b;
}



/*table*/
.table-responsive {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}
table {width: 100%;}
table tr {background-color: #fff;}
table tr.table-blink > td {
    height: 1rem;
    background-color: #e4e5e7;
    padding: 0;
}
table th {
    border-radius: 5px 0 0 5px;
    color: #fff;
    text-align: center;
    padding: 2rem;
    font-weight: 700;
    letter-spacing: 0;
    box-sizing: border-box;
}
table td {
    background-color: #fff;
    padding: 15px 5px;
    border-right: 1px solid #f0f2f7;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    vertical-align: middle;
}
table td:last-child {
    border-right: none;
    border-radius: 0 5px 5px 0;
}
table td > img {
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
}
table td > img.icon-user {margin: 0;}

/*table.hover*/
table.hover tr:hover td {background-color: #efcba1;}
table.hover tr.table-blink:hover td {background-color: #e4e5e7;}

table.hover1 tr:hover td {background-color: #efcba1;}
table.hover1 tr:hover td:first-child {color: #0174bf; font-weight: 700;}
table.hover1 tr.table-blink:hover td {background-color: #e4e5e7;}

table.hover2 tr:hover td {background-color: #efcba1;}
table.hover2 tr:hover td:first-child {color: #0174bf; font-weight: 700;}
table.hover2 tr:hover td:last-child a {color: #0174bf; text-decoration: underline;}
table.hover2 tr td:last-child a {font-size: 1.3rem}
table.hover2 tr.table-blink:hover td {background-color: #e4e5e7;}

.d-cell {
    float: left;
    display: block;
}
.d-cell p {
    font-size: 2.1rem;
    padding: 2rem 0;
}
.d-cell img {
    float: left;
}
.d-cell span {
    font-size: 1.3rem;
    color: #666;
    height: 2.7rem;
    line-height: 1.7rem;
    float:left;
    margin-left: 1rem;
}

/*table-sample-1*/
table.table-sample-1 {width: 1170px;}
table.table-sample-1 th {background-color: #f9b15b;}

/*table-sample-2*/
table.table-sample-2 {width: 1170px;}
table.table-sample-2 caption {
    font-size: 2.0rem;
    color: #0174bf;
    text-align: left;
    margin-bottom: 2rem;
}
table.table-sample-2 th {
    background-color: #0174bf;
    border-radius: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    border-right: 1px solid #fff;
}
table.table-sample-2 td, table.table-sample-2 td > a {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.1rem;
}
table.table-sample-2 td > a:hover {
    font-weight: 700;
    color: #0174bf;
}

table.table-sample-2 th:first-child, table.table-sample-2 td:first-child {
    border-radius: 5px 0 0 5px;
}
table.table-sample-2 th:last-child, table.table-sample-2 td:last-child {
    border-radius: 0 5px 5px 0;
    border-right: none;
}
table.table-sample-2 th:first-child, table.table-sample-2 th:nth-child(2) {
    width: 30rem;
}
table.table-sample-2 td:first-child, table.table-sample-2 td:nth-child(2) {
    text-align: left;
}

/*table-sample-3*/
table.table-sample-3 th {
    background-color: #0174bf;
    border-radius: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    border-right: 1px solid #fff;
    padding: 1rem;
    box-sizing: border-box;
    height: 5.6rem;
    vertical-align: middle;
}
table.table-sample-3 td {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.1rem;
}
table.table-sample-3 td a {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.1rem;
}
table.table-sample-3 th:first-child, table.table-sample-3 td:first-child {
    border-radius: 5px 0 0 5px;
}
table.table-sample-3 th:last-child, table.table-sample-3 td:last-child {
    border-radius: 0 5px 5px 0;
}
table.table-sample-3 th:first-child, table.table-sample-3 th:nth-child(2) {
    width: 25.5rem;
}
table.table-sample-3 td:first-child, table.table-sample-3 td:nth-child(2) {
    text-align: left;
}
table.table-sample-3 td:nth-child(3) {width: 11.6rem}

/*table-sample-4*/
table.table-sample-4 th {
    background-color: #0174bf;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    border-right: 1px solid #fff;
}
table.table-sample-4 td {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.2rem;
}
table.table-sample-4 td a {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.2rem;
}
table.table-sample-4 tr.active > td {background-color: #b6dae5 !important;}
table.table-sample-4 th:first-child, table.table-sample-4 td:first-child {
    border-radius: 5px 0 0 5px;
}
table.table-sample-4 th:last-child, table.table-sample-4 td:last-child {
    border-radius: 0 5px 5px 0;
}

/*table-sample-5*/
table.table-sample-5 th {
    background-color: #0174bf;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    border-right: 1px solid #fff;
    padding: 2rem 1rem;
}
table.table-sample-5 td {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.2rem;
}
table.table-sample-5 td a {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.2rem;
}
table.table-sample-5 td > button {color: #fff; border: none; border-radius: 5px; padding: 0.5rem; font-size: 1.3rem; font-weight: 700; box-sizing: border-box; line-height: normal}
table.table-sample-5 td .btn-primary {background-color: #0174bf}
table.table-sample-5 td .btn-green {background-color: #1b9200}
table.table-sample-5 td .btn-red {background-color: #d24703}
table.table-sample-5 tr.active > td {background-color: #b6dae5 !important;}
table.table-sample-5 th:first-child, table.table-sample-5 td:first-child {
    border-radius: 5px 0 0 5px;
}
table.table-sample-5 th:last-child, table.table-sample-5 td:last-child {
    border-radius: 0 5px 5px 0;
}

/*table-sample-6*/
table.table-sample-6 {width: 1170px;}
table.table-sample-6 tr td img {
    display: inline-block;
    text-align: center;
    margin-right: 0 !important;}

table.table-sample-6 th {
    background-color: #0174bf;
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    border-right: 1px solid #fff;
    vertical-align: middle;
}
table.table-sample-6 td {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.1rem;
}
table.table-sample-6 td .input{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.1rem;
    color: #333;
}
table.table-sample-6 th:last-child, table.table-sample-6 td:last-child {
    border-right: none;
}
table.table-sample-6 th:first-child, table.table-sample-2 td:first-child {
    border-radius: 5px 0 0 5px;
}
table.table-sample-6 th:last-child, table.table-sample-2 td:last-child {
    border-radius: 0 5px 5px 0;
}
table.table-sample-6 th:first-child {
    width: 4rem;
}
table.table-sample-6 th:nth-child(2), table.table-sample-6 th:nth-child(3) {
    width: 14rem;
}
table.table-sample-6 th:nth-child(4), table.table-sample-6 th:nth-child(5) {
    width: 12rem;
}
table.table-sample-6 th:nth-child(6), table.table-sample-6 th:nth-child(7) {
    width: 10rem;
}
table.table-sample-6 th:nth-child(8) {
    width: 14rem;
}
table.table-sample-6 th:nth-child(9), table.table-sample-6 th:nth-child(10), table.table-sample-6 th:nth-child(11) {
    width: 15rem;
}
.table-sample-6-c {
    width: 2054px !important;;
}
table.table-sample-6-c tr > th {
    padding: 1rem !important;
}
table.table-sample-6-c tr.custom > th {
    border-top: 1px solid #fff;
    width: 8rem !important;
    border-radius: 0;
}

/*table-sample-7*/
table.table-sample-7 caption {
    font-size: 2.0rem;
    color: #0174bf;
    text-align: left;
    margin-bottom: 2rem;
}
table.table-sample-7 th {
    background-color: #0174bf;
    border-radius: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    border-right: 1px solid #fff;
}
table.table-sample-7 td {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.1rem;
}
table.table-sample-7 th:first-child, table.table-sample-7 td:first-child {
    border-radius: 5px 0 0 5px;
    width: 40%;
}
table.table-sample-7 th:last-child, table.table-sample-7 td:last-child {
    border-radius: 0 5px 5px 0;
    border-right: none;
}
table.table-sample-7 th:first-child, table.table-sample-7 th:nth-child(2) {
    width: 30rem;
}
table.table-sample-7 td:first-child, table.table-sample-7 td:nth-child(2) {
    text-align: left;
}

/*table-sample-8*/
table.table-sample-8 th {
    background-color: #0174bf;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    border-right: 1px solid #fff;
}
table.table-sample-8 td {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.2rem;
}
table.table-sample-8 td a {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.2rem;
}
table.table-sample-8 tr.active > td {background-color: #b6dae5 !important;}
table.table-sample-8 th:first-child, table.table-sample-8 td:first-child {
    border-radius: 5px 0 0 5px;
}
table.table-sample-8 th:last-child, table.table-sample-8 td:last-child {
    border-radius: 0 5px 5px 0;
}

/************************************************************************************************************************/
/************************************************************************************************************************/

/* HEADER */
header {
    width: 100%;
    height: 14rem;
    background-color: #fff;
    position: relative;
    z-index: 999;
}

header.quotation {height: auto;  }
header.quotation .inner {background-color: #fff;}

header.quotation > .logo-single > .inner {height:  4rem; }
header .info {
    text-align: right;
    width: 117rem;
    height:  5rem;
    margin: 0 auto;
    color: #333;
    font-size: 1.1rem;
    line-height: 5rem;
}
header .info a {
    color: #333;
    font-size: 1.1rem !important;
}
header .info .login img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    border: none;
}
header .info select {
    background-color: #fff;
    border: 1px solid #ddd;
    height: 3.5rem;
    font-size: 1.3rem;
    margin-right: 2rem;
}
header .info span {
    color: #bbb;
    padding: 0 2.1rem;
}
header .inner {
    width: 117rem;
    height: 9rem;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
}
header .logo {
    float: left;
    width: 99px;
    height: 42px;
    background: url("../img/logo.png");
    margin-right: 7rem;
    margin-top: 2.5rem;
    display: block;
}
header .main-menu {
    float: left;
    margin-left: 3rem;
}
header .main-menu li {
    float: left;
    width: 15rem;
    height: 9rem;
    display: inline-block;
}
header .main-menu li a {
    color: #333;
    line-height: 9rem;
    display: block;
}

/*sub-menu*/
header .sub-menu {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 130px;
    display: none;
}
header .sub-menu .inner {
    width: 117rem;
    margin: 0 auto;

    border-top: 1px solid #f0f2f7;
    box-sizing: border-box;
}
header .sub-menu ul {
    float: left;
    width: 15rem !important;
}
header .sub-menu ul:first-child {
    padding-left: 16.9rem;
}
header .sub-menu ul li {
    padding-top: 3rem;
    margin-left: 3rem;
}
header .sub-menu ul li:last-child {
    padding-bottom: 3rem;
}
header .sub-menu ul li a {
    font-size: 1.5rem;
    color: #555;
}
header .sub-menu ul li a:hover {
    color: #0174bf;
}

header #toggle-btn {
    background: url("../img/menu-toggle.svg");
    width: 18px;
    height: 24px;
    position: absolute;
    top: 14px;
    right: 0;
    cursor: pointer;
    display: none;
}

/*FOOTER*/
footer {background-color: #fff; }
footer .inner{
    width: 117rem;
    margin: 0 auto;
    background-color: #fff;
}
footer .btn-top {
    position: absolute;
    bottom: 20%;
    right: 0;
}
footer .site-map ul {
    float: left;
    width: 16.6rem;
}
footer .site-map ul li {
    padding-top: 4rem;
    text-align: left;
}
footer .site-map ul li:first-child {
    color: #222;
    font-size: 1.6rem;
}
footer .site-map ul li:last-child {padding-bottom: 11rem;}
footer .site-map ul li a {
    font-size: 1.5rem;
    color: #555;
}
footer .site-map ul li a:hover {color: #0174bf;}
footer .footer-bottom {
    padding: 42px 0;
    border-top: 1px solid #eee;
    position: relative;
    font-size: 1.5rem;
}
footer .site-links li {
    float: left;
    color: #333;
    padding: 1rem 0;
}
footer .site-links li a {color: #333;}
footer .site-links li a:hover {
    color: #0174bf;
}
footer .logo {
    position: absolute;
    top: 4.2rem;
    right: 0;
}
footer .site-links li:after {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: #222;
    content: '|';
}
footer .site-links li:last-child:after {
    padding-right: 0;
    content: '';
}
footer ul.address li {
    margin: 1rem 0;
}
footer ul.address li:last-child{
    color: #999
}
/**************************/
.portlet {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
}
.portlet > .portlet-title {
    font-size: 3.1rem;
    color: #0174be;
    border-bottom: 1px solid #0174bf;
    line-height: 4.9rem;
    padding: 1.2rem;
    min-height: 48px;
    box-sizing: border-box;
}
.portlet > .portlet-sub {
    font-size: 1.8rem;
    color: #333;
    border-bottom: 1px solid #e4e5e7;
    line-height: 4.9rem;
    text-align: center;
    font-weight: 700;
    position: relative;
}
.btn-route {
    position: absolute;
    top: 0;
    right: 1rem;
}
.portlet > .portlet-title > .actions {
    padding: 6px 0 14px;
}
.portlet > .portlet-title > .actions {
    float: right;
    display: inline-block;
}

.view {padding: 0 2rem; box-sizing: border-box}
.view > .form-group > .col-3 {
    font-weight: 700;
    color: #555;
    line-height: 4rem;
}
.view > .form-group > .col-9 {
    line-height: 4rem;
}


.view > .form-group > .col-4 {
    font-weight: 700;
    color: #555;
    line-height: 4rem;
}
.view > .form-group > .col-8 {
    line-height: 4rem;
}

.about-links {
    background-color: #fff;
    height: 30rem;
}
.about-links-cont {
    padding: 5rem 15rem 0 4rem;
}
.about-links-cont .about-image {
    padding-left: 110px;
}
.about-image {height: 30rem;}

.page-content {
    width: 1170px;
    margin: 0 auto;
    padding-top: 7.5rem;
    padding-bottom: 20rem;
}
.page-content .about-links .about-links-cont > h1 {
    font-size: 2.8rem;
    text-align: left;
    margin-bottom: 2rem;
}
.page-content .about-links .about-links-cont > p {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 6rem;
    line-height: 1.5;
}

.logo-single {padding: 2.4rem 0; background-color: #fff; width: 100% !important;}
.logo-single .inner {width: 117rem; margin: 0 auto;}
.logo-single .inner > a.logo {vertical-align: middle; float: none}
header.quotation {
    height: 9.0rem;
}

.info-title {
    padding: 1.5rem;
    box-sizing: border-box;
    background-color: #c4c7cd;
    margin-top: 6rem;
    border-radius: 5px;
}
.info-title > .col-4 {line-height: 4rem;}
.info-title > .col-4 > input {margin-left: 2rem;}
.info-title > .col-4 > input:first-child {margin-left: 0}
.info-title > .col-4 > select {
    height: 4rem;
    padding: 0.5rem;
    width: 12.5rem;
}

ul.info-value { position: absolute; top:0; right:0; color: #666; font-size: 1.4rem;  }
ul.info-value li {list-style-type: disc !important; padding-right: 2rem}
ul.info-value li:last-child {padding-right: 0}
ul.info-value li.active {color: #0174bf;}

.quotation-title {
    height: 6.4rem;
    padding-bottom: 4.0rem;
    margin: 0 auto;
}
.quotation-title  h1 {
    font-size: 4.3rem;
    font-weight: 300;
    font-family: '나눔스퀘어', 'NanumSquare', sans-serif;
    line-height: 6.4rem;
}
.quotation-title > h3 {
    font-size: 3rem;
    font-weight: 300;
    font-family: '나눔스퀘어', 'NanumSquare', sans-serif;
    margin-bottom: 3rem;
}
table.quotation {
    border-radius: 5px !important;
}
table.quotation caption {
    width: 100%;
    height: 58px;
    line-height: 58px;
    font-size: 2.1rem;
    color: #0174be;
    text-align: left;
    padding-left: 1rem;
    border-bottom: 1px solid #0174bf;
    background-color: #fff;
    box-sizing: border-box;
}
table.quotation caption > span {
    font-size: 1.7rem;
    color: #333;
}
table.quotation caption > span img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem;
}
table.quotation tr {
    padding: 50px;
    border-bottom: 1px solid #f0f2f7;
    vertical-align: middle
}
table.quotation tr > th {
    font-size: 1.7rem;
    color: #333;
    font-weight: 400;
    border-radius: 0;
    border-right: 1px solid #f0f2f7;
    vertical-align: middle;
    /*padding: 2rem 0.5rem;*/
    padding: 1rem 2rem;
}
table.quotation tr > td {
    font-size: 1.6rem;
    color: #333;
    font-weight: 400;
    border-radius: 0;
    vertical-align: middle;
    padding: 0 0.5rem;
    clear: both;
    height: 5.7rem;
    box-sizing: border-box;
}

.quotation-input {width: 155px; margin-right: 10px;}
.quotation-input:last-child {margin-right: 0;}
.quotation-r-title  h1 {
    font-size: 4.3rem;
    font-weight: 300;
    font-family: '나눔스퀘어', 'NanumSquare', sans-serif;
    line-height: 6.4rem;
    text-align: left;
}
.quotation-r-title img {
    display: inline-block;
}
.quotation-r-title > .row > .col-6 {
    text-align: right;
}

.status-tit {
    margin-left: 12px;
    font-size: 2.1rem;
    color: #0174be;
    line-height: 4.9rem;
}
.status-tit > span {
    font-size: 1.7rem;
    color: #333;
    margin-left: 3rem;
}

.contract {
    width: 35%;
    margin: 0 auto;
    padding: 4rem 0;
    line-height: 8rem;
    box-sizing: border-box;

}
.contract > img {
    display: inline-block;
    float: left;
    vertical-align: middle;
}
.contract > p {
    float: left;
    margin-left: 2rem;
    vertical-align: middle;
}
.contract > span {
    float: left;
    margin-left: 3rem;
    vertical-align: middle;
}
.contract-agree {padding: 6rem 0}
.contract-agree > p {text-align: center; font-size: 1.7rem; margin-bottom: 3rem}
.contract-agree > p > span {font-size: 2.0rem; margin-right: 2rem}

/*modal*/
.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
}

.login-modal .modal-content {
    width: 30%;
}
.login-modal .modal-content .modal-body {
    width: 80%;
    margin: 0 auto;
}
.login-modal .modal-content .modal-body .inner-left {
    width: 68%;
}
.login-modal .modal-content .modal-body .inner-left .input:first-child {
    margin-bottom: 1rem;
}
.login-modal .modal-content .modal-body .inner-right {
    width: 30%;
    height: 9rem;
    margin-bottom: 3.5rem;
    background-color: #06457a;
}
.login-modal .modal-content .modal-body .login-btn {
    padding-top: 2rem;
    border-top: 1px solid #e4e5e7;
}
.login-modal .modal-content .modal-body .login-btn > .btn {
    width: 46%;
}
.login-modal .modal-content .modal-body .login-btn > .btn:first-child {
    margin-right: 1rem;
}

.login-modal p.tit {
    font-size: 2.5rem !important;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    line-height: 7rem;
    padding: 0 2rem;
    background-color: #e4e5e7;
    color: #333;
    box-sizing: border-box;
}
.modal-header p {
    font-size: 2.3rem;
}
.modal-body {padding: 5rem 2rem; text-align: center;}
.modal-body p {font-size: 1.7rem; padding: 3rem 0;}
.modal-content {width: 50%; border-radius: 5px}

.icon-lock {display: inline-block !important; vertical-align: middle}
.icon-reply {display: inline-block !important; vertical-align: middle; padding: 0 1rem 0 2rem; box-sizing: border-box;}

.reply { padding: 2rem 0;}

.page-btn {margin-top: 10rem; line-height: 4rem; height: 4rem}
.page-btn img {display: inline-block; vertical-align: middle}
.page-btn img:first-child {margin-right: 1rem}
.page-btn img:last-child {margin-left: 1rem}

.m-more {display: none}
.forwarder-area {padding: 2rem; box-sizing: border-box; background-color: #fff; width: 27rem; height:325px; float: left; margin-right: 3rem; border-radius: 5px; margin-top: 3rem; position: relative}
.forwarder-area:last-child {margin-right: 0}
.forwarder-img {display: inline-block; margin-bottom: 2rem; width: 100px; height: 100px; border-radius: 50%;}
.forwarder-info {width: auto; margin: 0 auto; font-size: 14px;}
/*.forwarder-info span:first-child {float: left; height: 3rem; line-height: 3rem; }
.forwarder-info span:last-child {float: right; height: 3rem; line-height: 3rem; color:#c4c7cd}
.forwarder-info span img {display: inline-block; vertical-align: middle; margin-right: 0.5rem}*/
.forwarder-info span { font-size: 20px; font-weight: bold; }
.forwarder-memo {line-height: 2; margin-top: 2rem; font-size: 14px;}
.forwarder-memo span { text-indent: -54px; padding-left: 54px; display: inline-block; text-align: justify; }
.tab_tit {font-size: 1.7rem; margin-top: 3rem; text-align: center}

.darkness {
    position:absolute;
    top:0;
    left:0;
    width:inherit;
    height:325px;
    background:#f8b05b;
    opacity:0;
    transition:all .4s linear;
    border-radius: 5px;
}

.btn-plus {
    position:absolute;
    top:50%;
    left:50%;
    width:10rem;
    height:10rem;
    margin-top: -5rem;
    margin-left: -5rem;
    border-radius:50%;
    text-align:center;
    opacity:0;
    transform:scale(2);
    transition:all .2s linear;
}

.btn-plus span {
    font-size:7em;
    font-weight: 300;
    color:#ffffff;
    user-select:none;
}
.btn-view {
    width: 55%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    border: none;
    background-color: #0174bf;
    border-radius: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
}

.forwarder-area:hover .darkness{
    opacity:0.9;
}

.forwarder-area:hover .btn-plus {
    opacity:1;
    transform:scale(1);
}

ul.faq01 {
    width: 100%;
}
ul.faq01 li {
    float: left;
    display: block;
}
ul.faq01 li:nth-child(even) {
    width: 15px;
    padding: 5% 3.65%;
    box-sizing: border-box;
}

.faq02 > .accordion > .accordion-tit {
    background-color: #fff;
    cursor: pointer;
    padding: 25px 20px;
    width: 100%;
    border-bottom: 1px solid #bbb;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 1.7rem;
    box-sizing: border-box;
    margin-top: 2rem;
}
.faq02 > .accordion > .accordion-tit > p {
    width: 90%;
    float: left;
}
.faq02 > .accordion.active > .accordion-tit > p {
    color: #0174bf;
    font-weight: 700;
}
.faq02 > .accordion.active > .accordion-tit {
    border-bottom: 1px solid #0174bf;
    border-radius: 5px 5px 0 0;
}
.faq02 > .accordion.active > .accordion-tit > .icon-arrow {
    background: url("../img/icon/icon-arrow-u.png")no-repeat center;
}
.faq02 > .accordion > .accordion-tit > .icon-arrow {
    float: right;
    text-align: right;
    background: url("../img/icon/icon-arrow-d.png")no-repeat center;
    width: 11px;
    height: 1.7rem;
    display: inline-block;
    vertical-align: middle;
}
.faq02 > .accordion.active > .panel {
    display: block;
}

.faq02 > .accordion > .panel {
    width: 100%;
    background-color: #f7fbfd;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    display: none;
}
.faq02 > .accordion > .panel > p {
    font-size: 1.6rem;
    line-height: 2;
    padding: 25px 20px;
    box-sizing: border-box;
}

.input-radio20 > input { width: 20% }

.btn-down {
    border: none;
    padding: 0;
    float: left;
}
.btn-down img {display: block; }

.input-logo {
    width: 20rem;
    height: 6rem;
    border: 1px solid #bbbbbb;
    background: url("../img/icon/no_image_01.png")no-repeat center;
}
.input-business {
    width: 20rem;
    height: 27rem;
    border: 1px solid #bbbbbb;
    background: url("../img/icon/no_image_02.jpg")no-repeat center;
}
.relative1 > .btn-area {
    position: absolute;
    bottom: -1px;
    left: 22rem;
}

/*sign-up*/
.sign-up .portlet {
    margin-bottom: 4rem;
}
.sign-up .portlet h1{
    font-weight: 700;
    font-size: 1.7rem;
    text-align: left;
    padding: 2rem;
    box-sizing: border-box;
    border-bottom: 1px solid #e4e5e7;
}
.sign-up .portlet .notice {
    height: 15rem;
    font-size: 1.5rem;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
}
.sign-up .portlet .notice-agree {
    width: 100%;
    border-top: 1px solid #e4e5e7;
    text-align: right;
    padding: 1rem;
    box-sizing: border-box;
}
.sign-up .portlet .notice-agree label { cursor: pointer; }
.sign-up .portlet.all-chk {
    width: 100%;
    height: 7rem;
    padding: 2rem;
    box-sizing: border-box;
}
.sign-up .portlet.all-chk > p {
    float: left;
    width: 70%;
    line-height: 3rem;
}
.sign-up .portlet.all-chk > label {
    float: right;
    width: 10%;
    text-align: right;
    line-height: 3rem;
    cursor: pointer;
}
.sign-up-success {
    height: 30rem;
    line-height: 30rem;
    text-align: center;
}
img.sign-step {
    width: 100%;
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.container .inner {
    width: 117rem;
    margin: 0 auto;
}

/* sec1 VISUAL */
.sec1 {position: relative;}
.sec1 .visual {
    height: 45rem;
    position: relative;
}
.sec1 .visual .background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.sec1 .inner {
    max-width: 120rem;
    position: absolute;
    top: 10.0rem;
    left: 50%;
    margin-left: -50rem;
    box-sizing: border-box;
    z-index: 99;
}
.sec1 .title-group {
    margin-left: 1.5rem;
    font-family: '나눔스퀘어', 'NanumSquare', sans-serif;
}
.sec1 .title {
    text-shadow: 0 1px 1px rgba(0,0,0,0.8), 0 1px 15px rgba(0,0,0,0.20);
    color: #fff;
    margin-bottom: 3.5rem;
    text-align: left;
}
.sec1 p.lead {
    font-size: 2.8rem;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 1px 25px rgba(0,0,0,0.75);
    color: #fff;
    line-height: 1.5;
    text-align: left;
}
.sec1 ul.btn_schedule {
    position: relative;
    margin-top: 22rem;
}
.sec1 ul.btn_schedule li {
    width: 50rem;
    height: 5rem;
    border-radius: 2.5rem;
    color: #fff;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}
.sec1 ul.btn_schedule li > img {
    width: 23px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}
.sec1 ul.btn_schedule li > a {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 2.0rem;
    font-weight: 700;
}
.sec1 ul.btn_schedule li:first-child {
    background-color: #00addb;
    position: absolute;
    top:0;
    left: 2rem;
}/*
.sec1 ul.btn_schedule li:nth-child(2) {
    background-color: #0174bf;
    position: absolute;
    top:0;
    left: 320px;
}*/
.sec1 ul.btn_schedule li:last-child {
    background-color: #06457a;
    position: absolute;
    top:0;
    left: 47rem;
}

/*sec2*/
.sec2 .inner {
    position: relative;
    padding: 12rem 0;
    box-sizing: border-box;
}

/*sec3*/
.sec3 {background-color: #fff;}
.sec3 .inner {
    position: relative;
    padding: 10.7rem 0 11.7rem;
    box-sizing: border-box;
}
.sec3 .title-group {
    width: 50rem;
    padding-top: 7.7rem;
    float: left;
    text-align: left;
}
.sec3 .title {
    text-align: left;
}
.sec3 .img-group {
    float: left;
    margin-left: 12.4rem;
}
.sec3 .img-group img {
    width: 100%;
}

/*sec4*/
.sec4 .inner {
    padding: 12rem 0;
}
.sec4 ul > li {
    float: left;
    width: 58.5rem;
    height: 38rem;
    text-align: left;
}
.sec4 ul > li.memo {
    padding: 3.8rem;
    box-sizing: border-box;
    background-color: #fff;
}
.sec4 ul > li > p.lead {
    font-size: 1.6rem;
    color: #666;
    text-align: left;
    margin-top: 2rem;
}
.sec4 ul > li > div > a {
    float: left;
    margin-top: 3rem;
    margin-right: 1.5rem;
}
.sec4 ul > li > p {
    font-size: 1.5rem;
    color: #666;
    line-height: 2rem;
}
.sec4 ul > li > p.recruit {
    font-size: 1.7rem;
    color: #666;
    margin-bottom: 1.7rem;
}
.sec4 ul > li > .recruit > p.recruit-tit {
    color: #0174bf;
    width: 11rem;
    float: left;
    text-align: left;
}
.sec4 ul > li > .recruit > p {
    float: left;
    margin-bottom: 0.5rem;
}
.sec4 ul > li > .recruit > p > span {
    float: right;
    padding-right: 1rem;
}
.selectwidth {width: 20%}
.cursor {
    cursor: pointer;
}
ul.info-value li.active {
    color: #000000;
}
.col-10 {
    float: left;
    width: 10% !important;
}

/* term */
#termModal.modal, #prevacyModal.modal { padding-top: 40px; }
#termModal.modal .modal-content, #prevacyModal.modal .modal-content { width: 95%; }
#termModal.modal .modal-body, #prevacyModal.modal .modal-body { width: 90%; }
#termModal.modal .modal-body .inner-left, #prevacyModal.modal .modal-body .inner-left { width: 100%; text-align: left; }

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}